{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Servo Credits</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ STATIC_URL }}js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="text-center">
        <img src="{{ STATIC_URL }}images/servo-logo-large.gif" alt=""/></div>
        <p class="text-center">
          <h5>Creator and Developer</h5>
          Filipp Lepalaaan
          <h5>Special Thanks</h5>
          Janne, Rami, Joonas and Vesa
        </p>
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
