{% extends "two_column_layout.html" %}
{% load i18n %}

{% block toolbar %}
<a href="{% url 'customers-create_customer' group='all' %}?name={{ query }}" class="btn"><i class="icon-plus"></i> {% trans "New Customer" %}</a>
{% endblock toolbar %}

{% block header_row %}
    <h2>{{ title }}</h2>
{% endblock header_row %}

{% block first_column %}
<ul class="nav nav-list">
  <li class="nav-header">{% trans "Show" %}</li>
  <li{% if not kind %} class="active"{% endif %}><a href="{% url 'search-customers' %}?q={{ query }}">{% trans "All" %}</a></li>
  <li{% if kind == 'company' %} class="active"{% endif %}><a href="{% url 'search-customers' %}?q={{ query }}&amp;kind=company">{% trans "Companies" %}</a></li>
  <li{% if kind == 'contact' %} class="active"{% endif %}><a href="{% url 'search-customers' %}?q={{ query }}&amp;kind=contact">{% trans "People" %}</a></li>
</ul>
{% endblock first_column %}

{% block second_column %}
{% if customers %}
{% for i in customers %}
  <address>
    <strong><a href="{{ i.get_absolute_url }}">{{ i.fullname }}</a></strong><br>
    {% if i.street_address %}
    {{ i.street_address }}<br/>
    {{ i.zip_code }}, {{ i.city }}<br/>
    {% endif %}
    {% if i.phone %}
    <abbr title="{% trans "Phone" %}">P:</abbr> {{ i.phone }}
    {% endif %}
    {% if i.email %}
    <br/>
    <a href="{% url 'notes-create_to_customer' customer=i.pk %}"><i class="icon-envelope"></i> {{ i.email }}</a>
    {% endif %}
  </address>
  <hr/>
{% endfor %}
{% else %}
  <h1 class="muted text-center">{% trans "No customers found" %}</h1>
{% endif %}
{% endblock second_column %}

{% block crumbs %}
  <li><a href="{% url 'customers-list_all' %}">{% trans "Customers" %}</a> <span class="divider">/</span></li>
  <li class="active">{{ title }}</li>
{% endblock crumbs %}
