{% extends "shipments/index.html" %}
{% load i18n %}

{% block toolbar %}{% endblock toolbar %}

{% block second_column %}
{% include "snippets/filtering_form.html" %}
<form method="post" action="">
  {% csrf_token %}
  <table class="table table-hover sortable">
    <thead>
      <tr>
      {% if can_receive %}
        <th data-defaultsort="disabled"></th>
      {% endif %}
        <th>{% trans "Part" %}</th>
        <th>{% trans "Service Order" %}</th>
        <th>{% trans "Confirmation" %}</th>
        <th>{% trans "Ordered By" %}</th>
      </tr>
    </thead>
    <tbody class="searchable">
    {% for i in inventory %}
      <tr>
      {% if can_receive %}
        <td><input type="checkbox" name="id" value="{{ i.pk|safe }}" class="toggle-submit"/></td>
      {% endif %}
        <td data-value="{{ i.code }}">
          <strong><a href="{% url 'shipments-view_incoming' i.pk %}" data-modal="#modal">{{ i.code }}</a></strong><br/>{{ i.title }}
        </td>
      {% with i.purchase_order as po %}
        <td data-value="{{ i.sales_order_ref }}">
        {% if i.sales_order %}
          <a href="{% url 'orders-edit' i.sales_order_id %}">{{ i.sales_order_ref }}</a>
        {% endif %}
          <br/><small class="muted">{{ i.purchase_order_ref }}</small>
        </td>
        <td>{{ po.confirmation }}</td>
        <td>{{ i.user_fullname }}<br/><small class="muted">{{ i.created_at|date:"SHORT_DATE_FORMAT" }}</small></td>
      {% endwith %}
      </tr>
      {% empty %}
      <tr>
        <td colspan="7" class="muted empty">{% trans "No incoming products" %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if can_receive %}
  <div class="form-actions">
    <button type="submit" class="btn btn-primary pull-right" disabled="disabled">{% trans "Receive" %}</button>
  </div>
  {% endif %}
</form>
{% include "pagination.html" with items=inventory %}
{% endblock second_column %}

{% block breadcrumb %}
  <li class="active"><span class="divider">/</span><a href="{% url 'shipments-list_incoming' %}">{% trans "Incoming" %}</a></li>
{% endblock breadcrumb %}
