{% extends "modal.html" %}
{% load i18n %}

{% block header %}{{ title }}{% endblock header %}

{% block body %}
<form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
  {% csrf_token %}
  {% include "form_snippet.html" %}
</form>
{% endblock body %}

{% block footer %}
    <a class="btn btn-default" href="{{ STATIC_URL }}/examples/upload_devices.xlsx">{% trans "Download example" %}</a>
    <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
{% endblock footer %}