{% extends "modal.html" %}
{% load i18n %}

{% block header %}
    {% blocktrans with dev=device.description %}Remove {{ dev }}?{% endblocktrans %}
{% endblock header %}

{% block body %}
    <p>{% trans "This will not delete the device from the database." %}</p>
{% endblock body %}

{% block footer %}
    <form action="{{ action }}" method="post" accept-charset="utf-8">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger pull-right">{% trans "Remove" %}</button>
    </form>
{% endblock footer %}
