{% extends "two_column_layout.html" %}
{% load servo_tags %}
{% load i18n %}

{% block toolbar %}
{% endblock toolbar %}

{% block first_column %}
{% endblock first_column %}

{% block second_column %}
<ul class="nav nav-tabs">
  <li class="active">
    <a href="{% url 'search-customers' %}?q={{ query }}">{% trans "Customers" %}</a>
  </li>
  <li class="{% active request 'search/devices' %}">
    <a href="{% url 'search-devices' %}?q={{ query }}">{% trans "Devices" %}</a>
  </li>
  <li class="{% active request 'search/gsx' %}">
    <a href="/search/gsx/{{ what }}?q={{ query }}">{% trans "GSX" %}</a>
  </li>
  <li class="{% active request 'search/orders' %}">
    <a href="{% url 'search-orders' %}?q={{ query }}">{% trans "Orders" %}</a>
  </li>
  <li class="{% active request 'search/products' %}">
    <a href="{% url 'search-products' %}?q={{ query }}">{% trans "Products and Parts" %}</a>
  </li>
  <li class="{% active request 'search/notes' %}"><a href="/search/notes/?q={{ query }}">{% trans "Notes" %}</a></li>
</ul>
{% endblock second_column %}

{% block footer %}
  <li><i class="icon-home"></i> <a href="{% url 'accounts-list_orders'  %}">{% trans "Home" %}</a> <span class="divider">/</span></li><li class="active">{{ title }}</li>
{% endblock footer %}
