{% load i18n %}
{% load servo_tags %}

<ul class="nav nav-tabs">
  <li class="{% active request "orders" %}">
    <a href="{% url 'accounts-list_orders' %}">{% trans "Orders" %}</a>
  </li>
  <li class="{% active request "updates" %}">
    <a href="{% url 'accounts-updates' %}">{% trans "Updates" %}</a>
  </li>
  <li class="{% active request "calendars" %}">
    <a href="{% url 'calendars-list' %}">{% trans "Calendars" %}</a>
  </li>
  <li class="{% active request "stats" %}">
    <a href="{% url 'accounts-stats' %}">{% trans "Statistics" %}</a>
  </li>
  <li class="{% active request "settings" %}">
    <a href="{% url 'accounts-settings' %}">{% trans "Settings" %}</a>
  </li>
</ul>
